<div class="comment" id=<%= comment.id %>>
  <p class="comment-content"><%= comment.body %></p>
  <p class="comment-posted-by">Posted by <%= comment.author.name %> <%= time_ago_in_words(comment.created_at) %> ago</p>

  <div class="links">
    <% if can? :manage, comment %>
      <%= link_to "Edit", edit_post_comment_path(comment.post, comment), class: "btn btn-default" %>
      <%= link_to "Delete", post_comment_path(comment.post, comment), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
    <% end %>
  </div>

</div>